<h1>Sign Up</h1>
<div>Create a new user account</div>
<form method='post' action='/auth/signup'>
  <input type='text' name='firstName' placeholder='First Name' /><br>
  <input type='text' name='lastName' placeholder='Last Name' /><br>
  <input type='email' name='email' placeholder='email' required /><br>
  <input type='text' name='username' placeholder='username' required /><br>
  <input type='password' name='password' placeholder='password' required />
  <br />
  <button type='submit'>Register</button>
  <button type='reset'>Reset</button>
</form>
