We need express-session to maintain logins
session maintain cookies, cookies are used to maintain
passport sessions

Responsive website
register login
animations
logo name
Oauth, mobile no / email notification
ratings
dish card - react
filter
app bar 
payment
smooth loading
page of dish
food review
api end points - use slug
user panel / admin panel

1. MongoDB (Non RDBMS) / Postgresql (RDBMS or Non RDBMS)
2. Express JS to create server
3. Angular or React - Frontend Library
4. Nodejs as backend
5. HTML/CSS/JS - basic functional frontend
6. jQuery - Frontend JS library
7. SASS dynamic modern CSS

Razorpay 
passport js
neomorphism



- /
  - /api
      - /api/dishes -> [] json Array of dishes
          - /api/dish/5 -> {} json object particular dish, 5 represents slug
          - /api/dish/5/comments -> [] json Array of comments
      - /api/users -> [] json Array of users

  - /dishes -> create HTML page, rendered via handlebars HTR
  - /users -> create HTML page, rendered via handlebars HTR


### Security

1. Hash the passwords, do not save as string
2. Use an access control layer to control who can create/edit dishes and comments
