<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{documentTitle}}: ServerSide Rendering</title>
    <style>
  h4 {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    padding: 10px;
    font-size: 27px;
  }
  p {
    text-align: justify;
  }
  .links {
    text-align: left;
    color: black;
  }
#thumbnail{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


  .fullCard {
    width: 245px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
  }
  .cardContent {
    padding: 10px;
  }
  .cardText {
    margin-bottom: 30px;
  }
</style>
  </head>
  <body>
    <h1>views/layouts/main.hbs </h1>
    <h3>
      <nav>
        <a href='/'>Home Page</a>
        <a href='/dishes'>Dishes</a>
        <a href='/auth/login'>Login</a>
        <a href='/auth/signup'>Signup</a>
      </nav>
    </h3>
    

{{!-- username here is provided by route.get('/', checkAuthenticated, (req, res) src/routes/pages/auth.js  --}}
{{!-- username here is provided by route.use((req, res, next) src/routes/pages/index.js --}}
    {{#if username}}
      <b>Hello, {{username}}!!</b>
      {{! Since DELETE request are not supported by forms we need https://www.npmjs.com/package/method-override }}
    <form action='/auth/logout?_method=DELETE' method='POST'>
      <button type='submit'>Log Out</button>
    </form>
    {{/if}}
    {{!-- <h3><pre><code>app.engine(
  'hbs',
  hbs.express4({
    partialsDir: path.join(__dirname, '../views/partials'),
    layoutsDir: path.join(__dirname, '../views/layouts'),
    defaultLayout: path.join(__dirname, '../views/layouts/main.hbs'),
    handlebars: allowInsecurePrototypeAccess(Handlebars),
    // extname: 'hbs', <---default value to .hbs
  })
)</code></pre></h3> --}}
<h2>This layout will be used by every hbs file inside views/pages, below this body of hbs files will come.</h2>
    {{{body}}}
  </body>
</html>

