{{!-- // how to hit this below url written on src/routes/pages/index.js file????
route.use('/', (req, res) => {
  res.render('pages/index') // I want to render index.hbs file in views/pages
}) --}}
<h2> Welcome {{name}}, to http://localhost:2323/index.hbs </h2>
